body {
  padding-top: 50px;
}
.main {
  padding-top: 20px;
  text-align: center;
}

.media-object {
  width: 40px;
  height: 40px;
}

/* More Rotations: http://bootsnipp.com/snippets/BDN1r */
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}